.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: $text-white-color;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: $accent-color;
}
