$text-white-color:#ffffff;
$accent-color:#D41443;
$background-menu: #E17992;
$text-black-color: #000000;
$text-gray-color: #907E82 ;
$background-header: #FFB8CA ;
$background-light-pink: #FFF5F6 ;
$text-icon-time-pink: #FFA5BA;
$border-color-menu: #E18298;
$border-color-gray: #E1E1E1;