@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #d41443;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-radius: 22px;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header_conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  fill: #d41443;
  stroke: #ffffff;
}

.header_button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_button {
    display: block;
    max-width: 100%;
    height: 44px;
    padding: 0 40px;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #d41443;
    background-color: #ffffff;
  }
}

.nav_list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav_list {
    display: flex;
    align-items: center;
  }
}

.hero {
  background-color: #ffb8ca;
  padding: 200px 0 302px 0;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 208px 0;
  }
}

.hero_circle {
  position: absolute;
  top: 83px;
  left: 36px;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero_circle {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_circle {
    top: 54px;
    left: 516px;
    width: 534px;
    height: 534px;
  }
}

.picture_ice {
  position: absolute;
  top: 92px;
  left: 117px;
}
@media screen and (min-width: 768px) {
  .picture_ice {
    top: 80px;
    left: 322px;
  }
}
@media screen and (min-width: 1200px) {
  .picture_ice {
    top: 118px;
    left: 630px;
  }
}

.hero_title {
  width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero_title {
    width: 162px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_title {
    width: 277px;
    font-size: 38px;
  }
}

.title--accent-color {
  color: #d41443;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
}
@media screen and (min-width: 768px) {
  .title--accent-color {
    font-size: 34px;
  }
}

.hero_button {
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  padding: 0 15px;
  max-width: 100%;
  height: 24px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  transition: color 300ms linear, background-color 300ms linear;
}
.hero_button:hover,
.hero_button:focus {
  background-color: #d41443;
  color: #ffffff;
}

.pictute_milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .pictute_milk {
    display: block;
  }
}

.picture_girl {
  display: none;
  position: absolute;
  right: 32px;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .picture_girl {
    display: block;
  }
}

.title_conteiner {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .title_conteiner {
    top: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .title_conteiner {
    top: 147px;
  }
}

.nav_item:not(:last-child) {
  margin-right: 35px;
}

.nav_link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
}

.photo-conteiner {
  display: none;
}
@media screen and (min-width: 768px) {
  .photo-conteiner {
    display: block;
    position: absolute;
    bottom: 16px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .photo-conteiner {
    bottom: 60px;
  }
}

.paragraf_ice {
  font-family: 'DM Sans';
  font-style: normal;
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .paragraf_ice {
    font-size: 14px;
    width: 200px;
  }
}

.button_paragraf {
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
}

.list_conteiner {
  display: none;
  position: absolute;
  top: 94px;
  right: 42px;
}
@media screen and (min-width: 768px) {
  .list_conteiner {
    display: block;
  }
}

.list_paragraf {
  display: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .list_paragraf {
    display: block;
  }
}

.list_number {
  display: none;
}
@media screen and (min-width: 768px) {
  .list_number {
    display: block;
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    z-index: 1;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .list_number::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 16px;
    height: 16px;
    top: -2px;
    right: -6px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 158px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 281px;
    font-size: 58px;
  }
}

.products__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.products__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 32px;
  }
}

.products__item {
  width: 100%;
  height: 489px;
  justify-content: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: calc((100% - 32px) / 3);
    height: 473px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: calc((100% - 64px) / 3);
    height: 535px;
  }
}

@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 140px;
  }
}
.products__item::before {
  display: block;
  content: '';
  height: 280px;
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-top: -140px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .products__item::before {
    height: 224px;
    background-size: 224px;
    margin-top: -138px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    height: 394px;
    background-size: 368px;
    margin-top: -261px;
  }
}

.products__icecream {
  background-color: #ffb8ca;
}

.products__icecoffee {
  background-color: #f0d1a5;
}

.products__milkshakes {
  background-color: #c2e297;
}

.products__icecream::before {
  background-image: url('/src/images/products/prod-1-mob-1x.png');
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__icecream::before {
    background-image: url('/src/images/products/prod-1-mob-2x.png');
  }
}
@media screen and (min-width: 768px) {
  .products__icecream::before {
    background-image: url('/src/images/products/prod-1-tab-1x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__icecream::before {
    background-image: url('/src/images/products/prod-1-tab-2x.png');
  }
}
@media screen and (min-width: 1200px) {
  .products__icecream::before {
    background-image: url('/src/images/products/prod-1-desk-1x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__icecream::before {
    background-image: url('/src/images/products/prod-1-desk-2x.png');
  }
}

.products__icecoffee::before {
  background-image: url('/src/images/products/prod-2-mob-1x.png');
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__icecoffee::before {
    background-image: url('/src/images/products/prod-2-mob-2x.png');
  }
}
@media screen and (min-width: 768px) {
  .products__icecoffee::before {
    background-image: url('/src/images/products/prod-2-tab-1x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__icecoffee::before {
    background-image: url('/src/images/products/prod-2-tab-2x.png');
  }
}
@media screen and (min-width: 1200px) {
  .products__icecoffee::before {
    background-image: url('/src/images/products/prod-2-desk-1x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__icecoffee::before {
    background-image: url('/src/images/products/prod-2-desk-2x.png');
  }
}

.products__milkshakes::before {
  background-image: url('/src/images/products/prod-3-mob-1x.png');
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__milkshakes::before {
    background-image: url('/src/images/products/prod-3-mob-2x.png');
  }
}
@media screen and (min-width: 768px) {
  .products__milkshakes::before {
    background-image: url('/src/images/products/prod-3-tab-1x.png');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__milkshakes::before {
    background-image: url('/src/images/products/prod-3-tab-2x.png');
  }
}
@media screen and (min-width: 1200px) {
  .products__milkshakes::before {
    background-image: url('/src/images/products/prod-3-desk-1x.png');
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__milkshakes::before {
    background-image: url('/src/images/products/prod-3-desk-2x.png');
  }
}

.products__name {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .products__name {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__name::after {
  display: block;
  content: '';
  height: 6px;
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/images/products/ellipsis.svg');
  margin-top: 32px;
  margin-bottom: 32px;
}

.products__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 32px;
  padding-left: 41px;
  padding-right: 39px;
}
@media screen and (min-width: 768px) {
  .products__description {
    line-height: 1.78;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 64px;
    padding-right: 63px;
  }
}

.products__button-wrap {
  text-align: center;
}

.products__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.gallery-images {
  margin-bottom: 2px;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
@media screen and (min-width: 320px) {
  .gallery-images {
    border-radius: 8px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-images {
    border-radius: 20px;
  }
}
.gallery-images:hover,
.gallery-images:focus {
  transform: scale(1.3);
}

.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 17%, #ffffff 17%);
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 0 98px;
  }
}

.gallery-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .gallery-list__item:nth-child(4) {
    margin-top: 20px;
  }
}
@media screen and (min-width: 320px) {
  .gallery-list__item:nth-child(5) {
    margin-bottom: 15px;
  }
}

.contacts {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: linear-gradient(#fff 24%, #fff5f6 24%, #fff5f6 76%);
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(#fff 48%, #fff5f6 48%, #fff5f6 52%);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    background-image: linear-gradient(#fff 20%, #fff5f6 20%, #fff5f6 80%);
  }
}
@media screen and (min-width: 768px) {
  .contacts__grid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__grid {
    display: flex;
    justify-content: center;
  }
}
.contacts__card {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 280px;
  padding: 40px 32px;
}
@media screen and (min-width: 768px) {
  .contacts__card {
    width: 224px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__card {
    width: 368px;
    padding: 40px;
  }
}

.contacts__card:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__card:not(:last-child) {
    margin-bottom: 0;
  }
}

.contacts__card:last-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__card:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.content__item {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .content__item {
    margin-bottom: 32px;
  }
}

.content__type {
  width: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.04em;
  background: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .content__type {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.content__type.foodtruck {
  background: #c2e297;
  width: 130px;
}

.content__place {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .content__place {
    font-size: 14px;
    line-height: 1.8;
  }
}

.content__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  max-width: 179px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .content__text {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .content__text {
    font-size: 16px;
  }
}

.content__days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .content__days {
    font-size: 14px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .content__days {
    font-size: 16px;
  }
}

.content__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .content__time {
    font-size: 14px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1200px) {
  .content__time {
    font-size: 16px;
  }
}

.content__time:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .content__time:not(:last-child) {
    margin-bottom: 12px;
  }
}

.content__time:last-child {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .content__time:last-child {
    margin-bottom: 32px;
  }
}

.contact {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contact {
    font-size: 14px;
    line-height: 1.8;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.contacts__btn {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 44px;
  min-width: 162px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  border: none;
}
@media screen and (min-width: 768px) {
  .contacts__btn {
    margin: 0;
    margin-right: 15px;
    min-width: 191px;
  }
}

.location__btn {
  background-color: #d41443;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location__btn:focus,
.location__btn:hover {
  background-color: #ffffff;
  color: #d41443;
}
.location__btn:focus::after,
.location__btn:hover::after {
  background-image: url(../images/products/arrow-pink.svg);
}
.location__btn::after {
  display: inline-block;
  content: '';
  background-image: url(../images/products/arrow-white.svg);
  width: 8px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  margin-left: 8px;
}

.franchise__btn {
  background-color: #ffffff;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .franchise__btn {
    margin-right: 0px;
    min-width: 168px;
  }
}
.franchise__btn:hover,
.franchise__btn:focus {
  background-color: #d41443;
  color: #ffffff;
}
.franchise__btn:hover::after,
.franchise__btn:focus::after {
  background-image: url(../images/products/arrow-white.svg);
}
.franchise__btn::after {
  display: inline-block;
  content: '';
  background-image: url(../images/products/arrow-pink.svg);
  width: 8px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  margin-left: 8px;
}

.footer {
  background-color: #fff5f6;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}
.footer__text-1 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 2px;
  display: block;
  width: 230px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer__text-1 {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-1 {
    width: initial;
  }
}
.footer__text-2 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 16px;
  width: 200px;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer__text-2 {
    margin-left: 0;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-2 {
    width: initial;
  }
}
.footer__addres {
  margin-top: 40px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  text-align: end;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer__tel {
  color: #d41443;
}
.footer__span {
  color: #000000;
}
.footer__icon {
  color: #fea5bb;
}
.footer__link {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__link {
    width: 34px;
    height: 34px;
  }
}
.footer__link:hover,
.footer__link:focus {
  background-color: #d41443;
}
.footer__social {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-top: 40px;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: right;
}
.footer__list > li {
  margin-right: 30px;
}
.footer__list > li:last-child {
  margin-right: 0;
}
.footer__copyright {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #907e82;
  border-top: 1px solid #e1e1e1;
  margin-top: 40px;
  margin-bottom: 3px;
  padding-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 8px;
    flex-direction: row;
  }
}
.about {
  background-color: #fff5f6;
  padding-top: 60px;
  padding-bottom: 20px;
}

.container--about {
  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about__span {
  display: block;
  margin-bottom: 15px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .about__span {
    margin-bottom: 16px;

    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .about__span {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 32px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.about__text {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .about__text {
    width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__text--top {
  color: #907e82;
}
.about:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .about:last-child {
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
  }
}

.about__btn {
  display: block;
  width: 176px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  align-items: center;
  text-align: center;

  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  border: transparent;
}

.about__btn:hover,
.about__btn:focus {
  background-color: #ecebeb;

  transition: background-color 250ms linear;
}
.about__btn::after {
  display: inline-block;
  content: '';
  background-image: url(../images/products/arrow-pink.svg);
  width: 8px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .about__btn:hover,
  .about__btn:focus {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__icon {
  margin-left: 14px;
}

@media screen and (min-width: 767px) {
  .overlay {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: url('../images/about_images/milkdesktopx2.png');
  }
}

@media screen and (max-width: 767px) {
  .about__content {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/about_images/milkdesktopx2.png');
    background-repeat: no-repeat;
    background-position: 0px 65px;
    background-size: contain;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about__content {
    background-image: url('../images/about_images/milk-mobilex2.png');
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    width: 334px;
    display: block;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .about__content {
    width: 463px;
    margin-top: 90px;
    margin-left: 99px;
  }
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  align-items: center;
  z-index: 1;
  background: #e17992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu.is-open {
  display: flex;
  flex-direction: column;
}
@media screen and (max-height: 500px) {
  .menu.is-open {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu.is-open {
    width: 250px;
    position: absolute;
    left: initial;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu.is-open {
    display: none;
  }
}
.menu__button {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu__button:hover,
.menu__button:focus {
  color: #d41443;
}
.menu__list {
  width: 100%;
}
.menu__marker {
  border-top: 1px solid #e18298;
  height: 42px;
  display: flex;
  align-items: center;
}
.menu__marker:last-child {
  border-bottom: 1px solid #e18298;
}
.menu__page {
  color: #ffffff;
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: left;
}
.menu__page:hover,
.menu__page:focus {
  color: #d41443;
}
.menu__page__active {
  color: #d41443;
}

.nav__icon-menu {
  fill: #d41443;
}
.nav__icon-cross {
  fill: #ffffff;
}
.nav__button {
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (min-width: 1200px) {
  .nav__button {
    display: none;
  }
}
.nav__button .nav__icon-cross {
  display: none;
}
.nav__button.is-open .nav__icon-cross {
  display: block;
}
.nav__button.is-open .nav__icon-menu {
  display: none;
} /*# sourceMappingURL=index.css.map */
