@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #D41443;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_buton {
  width: 160px;
}
@media screen and (max-width: 767px) {
  .header_buton {
    display: none;
  }
}

.nav_list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .nav_list {
    display: none;
  }
}

.hero .conteiner {
  display: flex;
}

.hero_circle {
  position: absolute;
  top: 83px;
  left: 36px;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero_circle {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_circle {
    top: 54px;
    left: 516px;
    width: 534px;
    height: 534px;
  }
}

.picture_ice {
  position: absolute;
  top: 92px;
  left: 117px;
}
@media screen and (min-width: 768px) {
  .picture_ice {
    top: 80px;
    left: 322px;
  }
}
@media screen and (min-width: 1200px) {
  .picture_ice {
    top: 118px;
    left: 630px;
  }
}

@media screen and (max-width: 767px) {
  .pictute_milk {
    display: none;
  }
}

.picture_girl {
  position: absolute;
  right: 32px;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .picture_girl {
    display: none;
  }
}

.title_conteiner {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .title_conteiner {
    top: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .title_conteiner {
    top: 147px;
  }
}

.hero_title {
  width: 218px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero_title {
    width: 218px;
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_title {
    width: 277px;
    font-size: 38px;
  }
}

.nav_item:not(:last-child) {
  margin-right: 35px;
}

.nav_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
}

.photo-conteiner {
  position: absolute;
  bottom: 16px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .photo-conteiner {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .photo-conteiner {
    bottom: 60px;
  }
}

.paragraf_ice {
  font-family: "DM Sans";
  font-style: normal;
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .paragraf_ice {
    font-size: 14px;
    width: 200px;
  }
}

.button_paragraf {
  border-radius: 50%;
  border: none;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
}

.list_conteiner {
  position: absolute;
  top: 94px;
  right: 42px;
}
@media screen and (max-width: 767px) {
  .list_conteiner {
    display: none;
  }
}

.list_paragraf {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .list_paragraf {
    display: none;
  }
}

.list_number {
  position: relative;
  font-family: "Titan One";
  font-style: normal;
  z-index: 1;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (max-width: 767px) {
  .list_number {
    display: none;
  }
}
.list_number::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 16px;
  height: 16px;
  right: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  align-items: center;
  z-index: 1;
  background: #E17992;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu.is-open {
  display: flex;
  flex-direction: column;
}
@media screen and (max-height: 500px) {
  .menu.is-open {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu.is-open {
    width: 250px;
    position: absolute;
    left: initial;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu.is-open {
    display: none;
  }
}
.menu__button {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu__button:hover, .menu__button:focus {
  color: #d41443;
}
.menu__list {
  width: 100%;
}
.menu__marker {
  border-top: 1px solid #E18298;
  height: 42px;
  display: flex;
  align-items: center;
}
.menu__marker:last-child {
  border-bottom: 1px solid #E18298;
}
.menu__page {
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: left;
}
.menu__page:hover, .menu__page:focus {
  color: #d41443;
}
.menu__page__active {
  color: #d41443;
}

.nav__icon-menu {
  fill: #d41443;
}
.nav__icon-cross {
  fill: #ffffff;
}
.nav__button {
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (min-width: 1200px) {
  .nav__button {
    display: none;
  }
}
.nav__button .nav__icon-cross {
  display: none;
}
.nav__button.is-open .nav__icon-cross {
  display: block;
}
.nav__button.is-open .nav__icon-menu {
  display: none;
}/*# sourceMappingURL=index.css.map */