<section class="about" id="how-made">
    <div class="container container--about">
        <span class="about__span">tradition and love</span>
        <h2 class="about__title">how it’s made?</h2>
        <div class="overlay">
            <picture>
                <source srcset="./images/about_images/home-desktopx1.png 1x,
                                ./images/about_images/home-desktopx2.png 2x" media="(min-width:1200px)">
                <source srcset="./images/about_images/home-tabletx1.png 1x, 
                                ./images/about_images/home-tabletx2.png 2x" media="(min-width: 768px)">
                <source srcset="./images/about_images/home-mobilex1.png 1x, 
                                ./images/about_images/home-mobilex2.png 2x" media="(min-width: 320px)">
                <img src="./images/about_images/home-mobilex1.png" alt="Корова с молоком">
            </picture>
            <div class="about__content">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text about__text--top">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
                    volutpat, a feugiat urna maximus.
                    Cras massa nibh, tincidunt.</p>
                <p class="about__text about__text--top">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__btn" data-modal="about">Read more
                    <svg class="about__icon" width="5" height="8">
                        <use href="./images/about_images/about-icon.svg#icon-Vector-1-2"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>