<section class="section advantages">
    <h2 class="advantages__title visually-hidden">advantages</h2>
    <div class="container advantages-container">
        <ul class="advantages__list">
            <li class="advantages__list-item advantages__list-item--milk list">
                <h3 class="advantages__list-item--title">721</h3>
                <p class="advantages__list-item--text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list-item advantages__list-item--apples list">
                <h3 class="advantages__list-item--title">16kg</h3>
                <p class="advantages__list-item--text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__list-item advantages__list-item--heart list">
                <h3 class="advantages__list-item--title">84</h3>
                <p class="advantages__list-item--text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>  