<section class="contacts">
    <div class="container">
<h2 class="visually-hidden">Contacts</h2>
<ul class="contacts__grid list">
    <li class="contacts__card">
        <ul class="content list">
            <li class="content__item">
                <p class="content__type">CAFE</p>
                <p class="content__place">Chicago</p>
                <p class="content__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="content__item">
                <p class="content__days">Monday - Friday</p>
                <p class="content__time">06:00 AM - 10:00 PM</p>
                <p class="content__days">Saturday - Sunday</p>
                <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="link contact">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="link contact">noreply@envato.com</a>
            </li>
        </ul>
    </li>

    <li class="contacts__card">
        <ul class="content list">
            <li class="content__item">
                <p class="content__type foodtruck">FOODTRUCK</p>
                <p class="content__place">Los Angeles</p>
                <p class="content__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="content__item">
                <p class="content__days">Monday - Friday</p>
                <p class="content__time">06:00 AM - 10:00 PM</p>
                <p class="content__days">Saturday - Sunday</p>
                <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="link contact">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="link contact">noreply@envato.com</a>
            </li>
        </ul>
    </li>

    <li class="contacts__card">
        <ul class="content list">
            <li class="content__item">
                <p class="content__type">CAFE</p>
                <p class="content__place">New York</p>
                <p class="content__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="content__item">
                <p class="content__days">Monday - Friday</p>
                <p class="content__time">06:00 AM - 10:00 PM</p>
                <p class="content__days">Saturday - Sunday</p>
                <p class="content__time">08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="link contact">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="link contact">noreply@envato.com</a>
            </li>
        </ul>
    </li>
</ul>
<div class="buttons">
<button type="button" class="location__btn contacts__btn">Our Locations</button>
<button type="button" class="franchise__btn contacts__btn">Franchise</button>
</div>
</div>
</section>
