<section class="rev">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
        <div class="rev-slider">
            <div class="rev-wrapper">
                <div class="rev-info">
                     <img class="client" src="/src/images/client-1.jpg" alt="client" width="85" height="85" />
                
                    <div class="rev__text-box">
                        <div class="reviewes__text">
                            <p class="rev-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <p class="rev-name">Emily, Los Angeles</p>
                </div>
                <div class="rev-info">
                        <img class="client" src="/src/images/client-2.jpg" alt="client" width="85" height="85" />
                    <div class="rev__text-box">
                        <div class="reviewes__text">
                            <p class="rev-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <p class="rev-name">Sara, Chicago</p>
                </div>
                <div class="rev-info">
                        <img class="client" src="/src/images/client-3.jpg" alt="client" width="85" height="85" />
                    <div class="rev__text-box">
                        <div class="reviewes__text">
                            <p class="rev-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <p class="rev-name">Jeremi, Oregon</p>
                </div>
            </div>
            <div class="slick-pagination"></div>
        </div>
    </div>
</section>