<nav class="nav">
  <button
    class="nav__button"
    type="button"
    aria-expanded="false"
    aria-controls="menu"
    data-menu-button
  >
    <svg width="14" height="14" aria-label="Переключатель мобильного меню">
      <use class="nav__icon-cross" href="./images/sprite.svg#icon-cross"></use>
      <use
        class="nav__icon-menu"
        href="./images/sprite.svg#icon-menu-hed"
      ></use>
    </svg>
  </button>

  <div class="menu" id="menu" data-menu>
    <button class="menu__button" type="submit">
      <svg class="" width="83" height="32">
        <use href="./images/sprite.svg#icon-buy-now-2"></use>
      </svg>
    </button>

    <ul class="menu__list">
      <li class="menu__marker">
        <a class="menu__page menu__active" href="#">Home</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#">About us</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#">How it’s made?</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#">Our products</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
