<nav class="nav">
  <button
    class="nav__button"
    type="button"
    aria-expanded="false"
    aria-controls="menu"
    data-menu-button
  >
    <svg width="14" height="14" aria-label="Переключатель мобильного меню">
      <use class="nav__icon-cross" href="./images/sprite.svg#icon-close"></use>
      <use class="nav__icon-menu" href="./images/sprite.svg#icon-Burger"></use>
    </svg>
  </button>

  <div class="menu" id="menu" data-menu>
    <button class="menu__button" type="submit" data-modal-open>
      <span>Buy now</span>
      <svg class="menu__vector" width="5" height="8">
        <use href="./images/sprite.svg#icon-Vector-new"></use>
      </svg>
    </button>

    <ul class="menu__list">
      <li class="menu__marker">
        <a class="menu__page" href="#home" data-menu-button>Home</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#gallery" data-menu-button>About us</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#about" data-menu-button>How it’s made?</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#products" data-menu-button>Our products</a>
      </li>
      <li class="menu__marker">
        <a class="menu__page" href="#contacts" data-menu-button>Contact</a>
      </li>
    </ul>
  </div>
</nav>
