<footer class="footer">
  <div class="container footer__container">
    <div>
      <div class="footer__text-1">homemade ice cream made</div>
      <div class="footer__text-2">with passion</div>
    </div>
    <div>
      <div class="footer__social">
        <ul class="footer__list">
          <li class="footer__marker">
            <a class="footer__link" href="">
              <svg class="footer__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__link" href="">
              <svg class="footer__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__link" href="">
              <svg class="footer__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__addres">
        <a class="footer__tel" href="tel:+610383766284">
          <span class="footer__span">Feel free to contact</span>
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <span>© 2022 - IceCream.</span><span> All Rights Reserved.</span>
  </div>
</footer>
