<footer class="footer">
  <div class="container footer__container">
    <div>
      <div class="footer__text-1">homemade ice cream made</div>
      <div class="footer__text-2">with passion</div>
    </div>
    <div>
      <div class="footer__social">
        <ul class="footer__list">
          <li>
            <a
              class="footer__link"
              href="https://github.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer__link"
              href="https://telegram.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer__link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__addres">
        <a class="footer__tel" href="tel:+610383766284">
          <span class="footer__span">Feel free to contact</span>
          +61 (0) 383 766 284
        </a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <span>© 2022 - IceCream.</span><span> All Rights Reserved.</span>
  </div>
</footer>
