<section class="">
    <div class="gallery container">
      <ul class="gallery-list list">
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-1-1200.jpg    1x,
                ./images/gallery/gallery-img-1-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-1-768.jpg    1x,
                ./images/gallery/gallery-img-1-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-1-320.jpg    1x,
                ./images/gallery/gallery-img-1-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-1-320.jpg" alt="ice cream" />
          </picture>
        </li>
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-2-1200.jpg    1x,
                ./images/gallery/gallery-img-2-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-2-768.jpg    1x,
                ./images/gallery/gallery-img-2-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-2-320.jpg    1x,
                ./images/gallery/gallery-img-2-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-2-320.jpg" alt="ice cream" />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-3-1200.jpg    1x,
                ./images/gallery/gallery-img-3-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-3-768.jpg    1x,
                ./images/gallery/gallery-img-3-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-3-320.jpg    1x,
                ./images/gallery/gallery-img-3-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-3-320.jpg" alt="ice cream" />
          </picture>
        </li>
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-4-1200.jpg    1x,
                ./images/gallery/gallery-img-4-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-4-768.jpg    1x,
                ./images/gallery/gallery-img-4-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-4-320.jpg    1x,
                ./images/gallery/gallery-img-4-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-4-320.jpg" alt="ice cream" />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-5-1200.jpg    1x,
                ./images/gallery/gallery-img-5-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-5-768.jpg    1x,
                ./images/gallery/gallery-img-5-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-5-320.jpg    1x,
                ./images/gallery/gallery-img-5-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-5-320.jpg" alt="ice cream" />
          </picture>
        </li>
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-6-1200.jpg    1x,
                ./images/gallery/gallery-img-6-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-6-768.jpg    1x,
                ./images/gallery/gallery-img-6-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-6-320.jpg    1x,
                ./images/gallery/gallery-img-6-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-6-320.jpg" alt="ice cream" />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-7-1200.jpg    1x,
                ./images/gallery/gallery-img-7-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-7-768.jpg    1x,
                ./images/gallery/gallery-img-7-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-7-320.jpg    1x,
                ./images/gallery/gallery-img-7-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-7-320.jpg" alt="ice cream" />
          </picture>
        </li>
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-8-1200.jpg    1x,
                ./images/gallery/gallery-img-8-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-8-768.jpg    1x,
                ./images/gallery/gallery-img-8-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-8-320.jpg    1x,
                ./images/gallery/gallery-img-8-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-8-320.jpg" alt="ice cream" />
          </picture>
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-10-1200.jpg    1x,
                ./images/gallery/gallery-img-10-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-10-768.jpg    1x,
                ./images/gallery/gallery-img-10-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-10-320.jpg    1x,
                ./images/gallery/gallery-img-10-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-10-320.jpg" alt="ice cream" />
          </picture>
        </li>
        <li class="gallery-list__item">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-img-9-1200.jpg    1x,
                ./images/gallery/gallery-img-9-1200@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-9-768.jpg    1x,
                ./images/gallery/gallery-img-9-768@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-img-9-320.jpg    1x,
                ./images/gallery/gallery-img-9-320@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img class="gallery-images" src="./images/gallery/gallery-img-9-320.jpg" alt="ice cream" />
          </picture>
        </li>
      </ul>
    </div>
  </section>