<header class="header">
  <div class="container header_conteiner">
    <a href="./index.html" class="logo-link">
      <svg class="header-logo" width="199" height="50">
        <use href="./images/sprite-and-fill.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="nav_list list">
        <li class="nav_item"><a href="#Home" class="nav_link">Home</a></li>
        <li class="nav_item">
          <a href="#About us" class="nav_link">About us</a>
        </li>
        <li class="nav_item">
          <a href="#How it’s made?" class="nav_link">How it’s made?</a>
        </li>
        <li class="nav_item">
          <a href="#How it’s made?" class="nav_link">Our products</a>
        </li>
        <li class="nav_item">
          <a href="#Contact" class="nav_link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <include src="./partials/feature-menu.html"></include>
      <!-- <button
        type="button"
        class="open-mobal_btn"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="40" height="40" class="mobal-svg">
          <use href="#"></use>
        </svg>
      </button> -->
      <button type="button" class="header_button" data-modal-open >
        Buy now
        <!-- <svg class="header_svg" width="83" height="32">
          <use href="#"></use>
        </svg> -->
      </button>
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="container hero_header">
      <div class="hero_circle"></div>
      <picture class="picture_ice">
        <source
          srcset="
            ./images/IceCream_Hero/icehero1comp.png    1x,
            ./images/IceCream_Hero/icehero1comp@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/IceCream_Hero/icehero1tab.png    1x,
            ./images/IceCream_Hero/icehero1tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/IceCream_Hero/icehero1mob.png    1x,
            ./images/IceCream_Hero/icehero1mob@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img src="./images/IceCream_Hero/icehero1tab.png" alt="icecream" />
      </picture>
      <div class="title_conteiner">
        <h1 class="hero_title">
          ice cream made with <span class="title--accent-color">passion</span>
        </h1>
        <button type="button" class="hero_button">Products</button>
        <button type="button" class="hero_button">How it’s made?</button>
      </div>
      <div class="photo-conteiner">
        <picture class="pictute_milk">
          <source
            srcset="
              ./images/hero_milk/milk1comp.png    1x,
              ./images/hero_milk/milk1comp@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero_milk/milk1tab.png    1x,
              ./images/hero_milk/milk1tab@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img src="./images/hero_milk/milk1tab.png" alt="glass of milk " />
        </picture>
        <div class="paragraf_conteiner">
          <p class="paragraf_ice">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="button_paragraf">
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
                width="28"
                height="28"
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
                width="18"
                height="18"
                media="(min-width:768px)"
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
              />
            </picture>
          </button>
        </div>
      </div>
      <picture class="picture_girl">
        <source
          srcset="
            ./images/hero_girl/girl1comp.png    1x,
            ./images/hero_girl/girl1comp@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero_girl/girl1tab.png   1x,
            ./images/hero_girl/gir1tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img
          src="./images/hero_girl/girl1tab.png "
          alt="girl with ice cream   "
        />
      </picture>
      <div class="list_conteiner">
        <ul class="list">
          <li class="list_item">
            <span class="list_number">16</span>
            <p class="list_paragraf">cafes</p>
          </li>
          <li class="list_item">
            <span class="list_number">23</span>
            <p class="list_paragraf">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
