<div class="backdrop is-hidden" data-modal-about >
 <div class="modal__about">
        <button type="button" class="modal-close-btn" js-modal-close>

            <svg width="20" height="20" aria-label="#">
                <use class="close-modal-button" href="./images/sprite.svg#icon-cross"></use>
            </svg>
        </button>
        <p class="modal-title">tradition and love</p>
        <div class="modal-about">
            <p class="modal-about__text-hero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, nihil,
                minima nobis dolores temporibus animi quas sunt cupiditate reiciendis, tempora fugit. Libero, adipisci.
                Adipisci voluptates veritatis magni temporibus iure quos.</p>
            <ul class="modal-about__list">
                <li class="modal-about__item">
                    <img class="modal-about__img" src="./images/vanilla.png" alt="vanilla ice cream">
                    <p class="modal-about__text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
                        natus molestiae. Exercitationem fugiat maxime numquam eos incidunt, aliquid accusamus et! Dolor
                        ducimus, asperiores praesentium voluptates ipsa molestias provident ad cum.</p>
                </li>
                <li class="modal-about__item">
                    <img class="modal-about__img" src="./images/chocolate.png" alt="chocolate ice cream">
                    <p class="modal-about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur
                        quaerat explicabo numquam vero. Adipisci est rerum officiis a, maxime ipsa, commodi natus neque
                        eum quia praesentium in esse reiciendis.
                    </p>
                </li>
                <li class="modal-about__item">
                    <img class="modal-about__img" src="./images/pistachio.png" alt="pistachio ice cream">
                    <p class="modal-about__text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
                        reiciendis voluptatem, dolores saepe qui laborum animi sint ipsa repellendus molestias, corrupti
                        error ducimus incidunt velit autem? Dolores libero facilis nostrum!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>