<div class="franchise-backdrop is-hidden" data-modal-fran>
    <div class="franchise-modal">
		<button type="button" class="franchise-modal-close-btn" data-modal-fran-close>
			<svg width="20" height="20" aria-label="Переключатель мобильного меню">
				<use href="./images/sprite.svg#icon-cross"></use>
            </svg>
		</button>
        <p class="franchise-modal__title">Franchise enquiry form</p>
        <form class="franchise-modal-form">
        <div class="franchise-modal__field">
			
			<label for="first-name" class="franchise-modal__label"> Full Name</label>
			
			<div class="franchise-modal__wrap">
				<input type="text" name="user-name" id="first-name" placeholder="First" class="franchise-modal__input" />
                <input type="text" name="user-name" id="last-name" placeholder="Last" class="franchise-modal__input" />
            </div>
		</div>
        <div class="wrap">
		<div class="franchise-modal__field">
			<label for="user-age" class="franchise-modal__label">Age</label>
			<div class="franchise-modal__wrap">
				<input type="number" name="user-age" value="0" min="18" id="user-age" class="franchise-modal__input age"/>
			</div>
		</div>
        
        <div class="franchise-modal__field tel">
			<label for="user-tel" class="franchise-modal__label">Telephone</label>
			<div class="franchise-modal__wrap">
				<input type="tel" name="user-tel" id="user-tel" class="franchise-modal__input tel"/>
			<svg class="modal-icon tel" width="18" height="18">
				<use href="./images/sprite.svg#icon-phone-black-18dp-1"	></use>
			</svg>
			</div>
		</div>
    </div>
		<div class="franchise-modal__field"> 
			<label for="user-mail" class="modal-label">Email </label>
			<div class="modal-wrap">
				<input type="email" name="user-mail" id="user-mail" class="franchise-modal__input mail"/>
			<svg class="modal-icon" width="18" height="18">
				<use href="./images/sprite.svg#icon-email-black-18dp-1"	></use>
			</svg>
			</div>
		</div>
        <div class="franchise-modal__field cash"> 
			<label for="cash-invest" class="modal-label">Total cash available to invest (USD)</label>
			<div class="modal-wrap">
				<input type="text" name="cash-invest" id="cash-invest" class="franchise-modal__input cash"/>
			</div>
		</div>
        <div class="wrap">
        <div class="franchise-modal__field num"> 
			<label for="store-number" class="modal-label">Number of stores interested in</label>
			<div class="modal-wrap">
				<input type="text" name="store-number" id="store-number" class="franchise-modal__input num"/>
			</div>
		</div>
        <div class="franchise-modal__field"> 
			<label for="store-area" class="modal-label">Areas of interest - list the area(s) in which you would like to open a store(s)</label>
			<div class="modal-wrap">
				<input type="text" name="store-area" id="store-area" class="franchise-modal__input area"/>
			</div>
		</div>
        </div>
        <div class="franchise-modal__field"> 
			<label for="open-date" class="modal-label">When do you plan to open your first store?</label>
			<div class="modal-wrap">
				<input type="date" name="open-date" id="open-date" class="franchise-modal__input date"/>
			</div>
		</div>
		

		 

			<button type="submit" class="franchise-modal__submit">Send</button>
	

		</form>
	</div>
</div>