<section class="products section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__icecream">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__button-wrap">
          <button type="button" class="products__button">
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item products__icecoffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__button-wrap">
          <button type="button" class="products__button">
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item products__milkshakes">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="products__button-wrap">
          <button type="button" class="products__button">
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
