<section class="products section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__icecream">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>

        <div class="products__detailed-icecream is-hidden" data-prod-icecream>
          <h3 class="products__name">ice cream</h3>
          <p class="products__description-icecream">
            Ice cream is a sweetened frozen food typically eaten as a snack or
            dessert. It may be made from milk or cream and is flavoured with a
            sweetener, either sugar and a spice, such as cocoa or vanilla, or
            with fruit such as strawberries or peaches.
          </p>
        </div>

        <div class="products__button-wrap">
          <button
            type="button"
            class="products__button"
            data-prod-open-icecream
          >
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item products__icecoffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>

        <div class="products__detailed-icecoffee is-hidden" data-prod-icecoffee>
          <h3 class="products__name">ice coffee</h3>
          <p class="products__description-icecoffee">
            Ice coffee is a coffee beverage served cold. It may be prepared
            either by brewing coffee normally and then serving it over ice or in
            cold milk, or by brewing the coffee cold.
          </p>
        </div>

        <div class="products__button-wrap">
          <button
            type="button"
            class="products__button"
            data-prod-open-icecoffee
          >
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item products__milkshakes">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>

        <div class="products__detailed-milkshakes is-hidden" data-prod-milk>
          <h3 class="products__name">milkshakes</h3>
          <p class="products__description-milkshakes">
            A milkshake is a sweet beverage made by blending milk, ice cream,
            and flavorings or sweeteners such as butterscotch, caramel sauce,
            chocolate syrup, fruit syrup, or whole fruit into a thick, sweet,
            cold mixture.
          </p>
        </div>

        <div class="products__button-wrap">
          <button type="button" class="products__button" data-prod-open-milk>
            <picture>
              <source
                srcset="
                  ./images/products/arrow-right-1x.png 1x,
                  ./images/products/arrow-right-2x.png 2x
                "
              />
              <img
                src="./images/products/arrow-right-1x.png"
                alt="detailed product description"
                width="40"
                height="40"
              />
            </picture>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
