.rev {
     padding-top: 60px;

     @include tablet {

         padding-top: 60px;
     }

     @include desktop {
    
         padding-top: 120px;
     }
 }

 .rev-slider {
    margin: 0 auto;
     width: 280px;
     height: 100%;


     @include tablet {
         width: 736px;
     }

     @include desktop {
         width: 968px;
     }
 }

 .rev-info {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
 }


 .client {
     margin-bottom: 32px;

     @include tablet {
         margin-bottom: 20px;
     }

     @include desktop {
         margin-bottom: 16px;
     }
 }

 .rev__text-box {
     width: 100%;
     padding: 43px 50px 17px 50px;
     background-color: #fafafa;
     margin-bottom: 36px;
     position: relative;

     @include tablet {
         width: 620px;
         padding: 37px 6px 36px 6px;
         margin-bottom: 24px;
     }

     @include desktop {
         width: 968px;
         padding: 46px 74px 31px 72px;
         margin-bottom: 36px;
     }

     &::before {
         content: '';
         background-image: url('/src/images/paws.svg');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         width: 54px;
         height: 40px;
         left: 53;
         top: 30;
         position: absolute;
         z-index: 1;

         @include tablet {
             width: 60px;
             height: 40px;
             left: 6;
             top: 20;
         }

         @include desktop {
             width: 54px;
             height: 40px;
             left: 71;
             top: 31;
         }
     }

     &::after {
         content: '';
         background-image: url('/src/images/three-dots.png');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         width: 32px;
         height: 4px;
         left: Calc(50% - 16px);
         bottom: -16;
         position: absolute;

         @include tablet {
             bottom: -4;
         }

         @include desktop {
             bottom: -16;
         }
     }
 }

 .reviewes__text {
     width: 100%;
     padding: 0 8px 0 15px;
     background-image: repeating-linear-gradient(to top,
             #e1e1e1,
             #e1e1e1 1px,
             #fafafa 1px,
             #fafafa 31px);

     @include tablet {
         padding: 0 50px 0 45px;
     }

     @include desktop {
         padding: 0 36px 0 35px;
     }
 }

 .rev-text {
     font-family: "DM Sans";
     font-weight: 500;
     color: #000;
     font-size: 12px;
     line-height: 2.55;
     text-align: center;
     position: relative;
     z-index: 3;

     @include tablet {
         font-size: 14px;
         line-height: 2.16;
         letter-spacing: 0.04em;
     }

     @include desktop {
         font-size: 16px;
         line-height: 1.86;
     }
 }

 .rev-name{
     font-family: "DM Sans";
     font-weight: 500;
     color: #000;
     font-size: 14px;
     line-height: 1.86;
     text-align: center;
     margin-bottom: 16px;

     @include tablet {
         font-size: 16px;
         margin-bottom: 32px;
     }

     @include desktop {
         font-size: 20px;
         margin-bottom: 32px;
     }
 }
 .dot-container {
    text-align: center;
    padding: 20px;}
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #D9D9D9;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .dot:hover {

        background-image: url(../images/house.svg);
        background-color: $text-white-color;
        background-repeat: no-repeat;
    background-size: contain;
      }