.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  align-items: center;
  z-index: 1;

  background: $background-menu;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.is-open {
    display: flex;
    flex-direction: column;

    // @media screen and (max-height: 500px) {
    //   padding-top: 40px;
    // }

    @include tablet {
      width: 250px;
      position: absolute;
      left: initial;
      right: 0;
    }

    @include desktop {
      display: none;
    }
  }

  &__button {
    width: 209px;
    height: 44px;
    // border-radius: 22px;
    background-color: $text-white-color;
    color: $accent-color;
    border: none;
    margin-bottom: 20px;
    // cursor: pointer;

    font-family: 'DM Sans';
    font-style: normal;
    @include font(16px, 700, 1.31, null);

    // font-size: 16px;
    // font-weight: 700;
    // line-height: 1.31;


    @include tablet {
      width: 186px;
      height: 44px;
    }

    // &:hover,
    // &:focus {
    //   color: #d41443;
    // }
  }

  &__vector {
    margin-left: 15px;
    // border: 2px solid #D41443;

  }

  &__list {
    width: 100%;
  }

  &__marker {

    border-top: 1px solid #E18298;
    height: 42px;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid #E18298;
    }
  }

  &__page {
    color: $text-white-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;

    font-family: 'DM Sans';
    font-style: normal;
    @include font(14px, 700, 1.29, null);
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.29;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &__active {
      color: $accent-color;
    }
  }
}

.nav {

  &__icon-menu {
    fill: $accent-color;
  }

  &__icon-cross {
    fill: $text-white-color;
  }

  &__button {
    padding: 0;
    border: none;
    border-radius: initial;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 20px;

    @include desktop {
      display: none;
    }

    .nav__icon-cross {
      display: none;
    }

    &.is-open {

      & .nav__icon-cross {
        display: block;
      }

      & .nav__icon-menu {
        display: none;
      }
    }
  }
}