.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  align-items: center;
  z-index: 1;
  background: $background-menu;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.is-open {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 250px;
      left: initial;
      right: 0;
    }

    @include desktop {
      display: none;
    }
  }

  &__button {
    width: 209px;
    height: 44px;
    background-color: $text-white-color;
    color: $accent-color;
    border: none;
    margin-bottom: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    @include font(16px, 700, 1.31, null);

    @include tablet {
      width: 186px;
      height: 44px;
    }
  }

  &__vector {
    margin-left: 15px;
  }

  &__list {
    width: 100%;
  }

  &__marker {
    border-top: 1px solid $border-color-menu;
    height: 42px;
    display: flex;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid $border-color-menu;
    }
  }

  &__page {
    color: $text-white-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;

    font-family: 'DM Sans';
    font-style: normal;
    @include font(14px, 700, 1.29, null);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &__active {
      color: $accent-color;
    }
  }
}

.nav {
  position: relative;

  &__icon-menu {
    fill: $accent-color;
  }

  &__icon-cross {
    fill: $text-white-color;
  }

  &__button {
    padding: 0;
    border: none;
    border-radius: initial;
    background-color: transparent;
    z-index: 2;
    position: fixed;
    right: 20px;
    top: 20px;

    @include tablet {
      position: relative;
      right: initial;
      top: initial;
      margin-right: 32px;
    }

    @include desktop {
      display: none;
    }

    .nav__icon-cross {
      display: none;
    }

    &.is-open {
      @include tablet {
        position: fixed;
        right: 20px;
        top: 20px;
        margin-right: 0;
      }

      & .nav__icon-cross {
        display: block;
      }

      & .nav__icon-menu {
        display: none;
      }
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
}

body.lock {
  overflow: hidden;
}
