// .container {
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 15px;

//   @media screen and (min-width: 320px) {
//     width: 320px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// }

.footer {
  background-color: #fff5f6;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__text-1 {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 2px;
    display: block;
    width: 230px;
    color: #FFA5BA;

    @media screen and (min-width: 768px) {
      margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
      width: initial;
    }


  }

  &__text-2 {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 16px;
    width: 200px;
    color: #D41443;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-top: 12px;
    }

    @media screen and (min-width: 1200px) {
      width: initial;
    }
  }

  &__addres {
    margin-top: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    text-align: end;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {}

  }

  &__tel {
    color: #D41443;

  }

  &__span {
    color: #000000;
  }

  &__icon {
    color: #fea5bb;
  }

  &__link {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }

    &:hover,
    &:focus {
      background-color: #d41443;
    }
  }

  &__social {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    margin-top: 40px;

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: right;

    &>li {
      margin-right: 30px;
    }

    &>li:last-child {
      margin-right: 0;
    }
  }

  &__copyright {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: #907E82;

    border-top: 1px solid #E1E1E1;

    margin-top: 40px;
    margin-bottom: 3px;
    padding-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      padding-top: 8px;
      flex-direction: row;
    }
  }
}