.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include desktop {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}

.header_conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  fill: $accent-color;
}

.header_button {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    max-width: 159px;
    height: 44px;
    padding: 0 37px;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #d41443;
    background-color: $text-white-color;
    transition: color 300ms linear, background-color 300ms linear;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    &::after {
      display: inline-block;
      content: '';
      background-image: url(../images/products/arrow-pink.svg);
      width: 8px;
      height: 10px;
      margin-left: 8px;
    }
  }
}

.nav_list {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.nav_item:not(:last-child) {
  margin-right: 35px;
}

.nav_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $text-white-color;
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.hero {
  background-color: $background-header;
  padding: 200px 0 302px 0;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding: 208px 0;
  }

  @include desktop {
    padding: 331px 0;
  }
}

.hero_circle {
  position: absolute;
  top: 83px;
  left: 36px;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 50%;

  @include tablet {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 333px;
  }

  @include desktop {
    top: 54px;
    left: 516px;
    width: 534px;
    height: 534px;
  }
}

.picture_ice {
  position: absolute;
  top: 92px;
  left: 117px;

  @include tablet {
    top: 80px;
    left: 322px;
    animation-name: fade-bottom-to-top;
    animation-duration: 800ms;
    animation-timing-function: linear;
  }

  @include desktop {
    top: 118px;
    left: 630px;
  }
}

@keyframes fade-bottom-to-top {
  from {
    transform: translatey(350px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero_title {
  width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-white-color;

  @include tablet {
    width: 162px;
    font-size: 22px;
  }

  @include desktop {
    width: 277px;
    font-size: 38px;
  }
}

.title--accent-color {
  color: $accent-color;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 58px;
  }
}

.hero_button {
  border: none;
  border-radius: 20px;
  background-color: $text-white-color;
  color: $accent-color;
  padding: 0 15px;
  max-width: 100%;
  height: 24px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  transition: color 300ms linear, background-color 300ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $text-white-color;
  }

  @include desktop {
    font-size: 14px;
    height: 40px;
  }
}

.pictute_milk {
  display: none;
  @include tablet {
    display: block;
  }
}

.picture_girl {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    right: 32px;
    bottom: 0;
  }
}

.title_conteiner {
  position: absolute;

  @include tablet {
    top: 102px;
  }

  @include desktop {
    top: 147px;
  }
}

.photo-conteiner {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    bottom: 16px;
    display: flex;
    align-items: center;
    animation-name: changePosition;
    animation-duration: 800ms;
    animation-timing-function: linear;
  }

  @include desktop {
    bottom: 60px;
  }
}

@keyframes changePosition {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.paragraf_ice {
  width: 119px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: $text-white-color;
  margin-bottom: 7px;

  @include desktop {
    font-size: 14px;
    width: 200px;
    margin-bottom: 20px;
  }
}

.button_paragraf {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
}

.list_conteiner {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    top: 94px;
    right: 42px;
  }

  @include desktop {
    top: 152px;
  }
}

.list_item:not(:last-child) {
  margin-bottom: 15px;
}

.list_number {
  display: none;

  @include tablet {
    display: block;
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    z-index: 1;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $accent-color;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 16px;
      height: 16px;
      top: -2px;
      right: -6px;
      border-radius: 50%;
      background-color: $text-white-color;

      @include desktop {
        width: 30px;
        height: 30px;
        top: -2px;
        right: -10px;
      }
    }
  }

  @include desktop {
    font-size: 46px;
  }
}

.list_paragraf {
  display: none;
  @include tablet {
    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: $text-white-color;
  }
  @include desktop {
    font-size: 14px;
  }
}
