.backdrop{
    z-index: 1;
    position:fixed;
    top: 0;
    
    width: 100vw;
    height: 100%;
    background: $background-menu;
    transition: opacity 300ms, visibility 300ms;
  }
    .modal { 
      
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 450px;
      width: 100%;
      padding: 40px;
      background-color: #FFB8CA;
      border-radius: 24px;
      transform: translate(-50%, -50%) scale(1);
     
    
  @include desktop{
    width: 528px;
    min-height: 581px;
  }
  }
  .modal-title{
    color: $background-menu;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(26/30);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  }
  .modal-close-btn{
    position: absolute;
    top:8px;
    right:8px;
    width: 30px;
    background: #FFB8CA;
    height: 30px;
    
  border: 1px solid #FFB8CA;
  border-radius: 50%;
  cursor:pointer;
  }
  .close-modal-button{
    fill: $background-menu;
  }
  .modal-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  

  }
  
  .is-hidden{
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
  
  }
  
  .modal-field{
   
    margin-bottom: 28px;
    
  }
  
  .modal-input{
  
    width:100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: $background-menu;
  border-radius: 4px;
  padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
  }
  

  
  .modal-wrap{
    position: relative;
    margin-top: 4px;
  }
  
  .modal-icon{
    position: absolute;
    left:12px;
    top:50%;
    transform:translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
  
  }
  
  .modal-comment{
    padding: 12px 16px;
    width:100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top:4px;
  resize: none;
  outline:none;
  color: $background-menu;
  }
  
  
  .modal-label{
    font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  
  letter-spacing: 0.01em;
  
  color: $background-menu;
  }
  
  // .check-text{
  //   font-weight: 400;
  // font-size: 12px;
  // line-height: calc(14/12);
  
  //  text-align: center;
  // letter-spacing: 0.03em;
  
 
  // display: flex;
  // align-items:center;
  // justify-content: center;
  // @include desktop{
  //   font-size: 14px;
  //   line-height: 1.71;
  // }
  // }
  
  
  // .check-text::before {
  //   content: "";
  //   width: 16px;
  //   height: 15px;
  //   border: 2px solid #212121;
  //   border-radius: 3px;
  //   margin-right: 9px;
  //   cursor: pointer;
  // }
  
  //  .modal-check:checked + .check-text::before { 
  //   background-color:var(--a—Åcent-color);
  //   background-image: url(../images/check.svg);
  //   border: none;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  
  // .modal-check:focus + .check-text::before {
  //   border-color: $accent-color;
  // } 
  .modal-link{
    cursor: pointer;
    
  text-decoration: underline;
  }
  
  
  .modal-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    cursor:pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #FFB8CA;
    color: $text-white-color;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border:1px solid $background-menu;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  
  }
  .modal-submit:hover,.modal-submit:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: $background-menu;
  }