.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  
    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 37px;
      padding-bottom: 37px;
    }
  }
  
  .header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_buton {
    @media screen and (max-width: 767px) {
      display: none;
    }
  
    width: 160px;
  }
  
  .nav_list {
    @media screen and (max-width: 1199px) {
      display: none;
    }
    display: flex;
    align-items: center;
  }
  .hero .conteiner {
    display: flex;
  }
  
  .hero_circle {
    position: absolute;
    top: 83px;
    left: 36px;
    background-color: #ffa5ba;
    width: 346px;
    height: 344px;
    border-radius: 50%;
  
    @media screen and (min-width: 768px) {
      top: 43px;
      left: 248px;
      width: 335px;
      height: 333px;
    }
  
    @media screen and (min-width: 1200px) {
      top: 54px;
      left: 516px;
      width: 534px;
      height: 534px;
    }
  }
  
  .picture_ice {
    position: absolute;
    top: 92px;
    left: 117px;
  
    @media screen and (min-width: 768px) {
      top: 80px;
      left: 322px;
    }
  
    @media screen and (min-width: 1200px) {
      top: 118px;
      left: 630px;
    }
  }
  
  .pictute_milk {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  
  .picture_girl {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    right: 32px;
    bottom: 0;
  }
  
  .title_conteiner {
    position: absolute;
  
    @media screen and (min-width: 768px) {
      top: 102px;
    }
  
    @media screen and (min-width: 1200px) {
      top: 147px;
    }
  }
  
  .hero_title {
    width: 218px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
    @media screen and (min-width: 768px) {
      width: 218px;
      font-size: 25px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 277px;
      font-size: 38px;
    }
  }
  
  .nav_item:not(:last-child) {
    margin-right: 35px;
  }
  
  .nav_link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #ffffff;
  }
  .photo-conteiner {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    bottom: 16px;
    display: flex;
    align-items: center;
  
    @media screen and (min-width: 1200px) {
      bottom: 60px;
    }
  }
  
  .paragraf_ice {
    font-family: 'DM Sans';
    font-style: normal;
    width: 114px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 7px;
  
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      width: 200px;
    }
  }
  
  .button_paragraf {
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
  }
  
  .list_conteiner {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    top: 94px;
    right: 42px;
  }
  
  .list_paragraf {
    @media screen and (max-width: 767px) {
      display: none;
    }
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }
  
  .list_number {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    z-index: 1;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
    color: #d41443;
  
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 16px;
      height: 16px;
      right: 5px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
  